:root {
  --accent: #174180;
  --accent-light: #3764a7;
  --pure-white: #fff;
}
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: "Open sans", sans-serif;
  margin: 0;
  color: var(--accent);
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-title {
  background-color: var(--accent-light);
  text-transform: uppercase;
  margin: 40px 0;
  text-align: center;
  color: var(--pure-white);
}
.header {
  background-color: var(--accent);
}
.header a {
  color: var(--pure-white);
  text-decoration: none;
}
.header-nav {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.header-logo {
  width: 20%;
  font-size: 30px;
  letter-spacing: 3px;
}
.header-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-link {
  text-transform: uppercase;
  padding: 15px 15px;
  font-size: 16px;
  line-height: 16px;
}
.header-menu-link:hover {
  background-color: var(--accent-light);
  transition: background-color 0.3s;
}
.intro-inner {
  display: flex;
  gap: 150px;
  text-align: center;
  padding: 50px 0;
}
.intro-img {
  width: 200px;
  border-radius: 50%;
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 70px;
  list-style: none;
}
.contacts p {
  margin: 2px 0 0 0;
}
.skills {
  margin: 100px auto;
}
.skills-lists {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
}
.languages {
  margin: 70px;
}
.languages-lists {
  margin-left: 470px;
}
.code-title {
  text-align: center;
}
.code-item {
  width: 400px;
  background-color: var(--accent);
  color: var(--pure-white);
  margin: 0 auto;
  border-radius: 5px;
}
.education {
  margin-top: 100px;
}
.footer {
  min-height: 100px;
  text-align: center;
  background-color: var(--accent);
  justify-content: center;
  margin-top: 100px;
  color: var(--pure-white);
}
.footer p {
  padding-top: 20px;
}
.footer a {
  color: var(--pure-white);
}
.menu {
  display: none;
}
@media (max-width: 768px) {
  body {
    background: gainsboro;
  }
  .container {
    width: 80%;
  }
  .menu {
    display: inline-block;
    margin-left: 300px;
  }
  .header-menu-item {
    display: none;
  }
  .menu-show {
    background: #000;
    display: table-column;
  }
  .intro-inner {
    display: block;
    width: 100%;
  }
  .contacts {
    display: inline;
    width: 100%;
    text-align: center;
  }
  .contacts li {
    margin-bottom: 20px;
  }
  .skills-lists {
    display: block;
  }
  .languages-lists {
    display: inline;
    width: 100%;
    text-align: center;
    list-style: none;
  }
  .code-item {
    width: 100%;
  }
}
